<h3>
  Demo with Module Federation and Externals
</h3>

<h6>
  {{ message }}
</h6>

<ul>
  <li>Shell</li>
  <ul>
    <li>Writes Dependencies as Externals into the Window-Object</li>
    <li>Module Federation Host</li>
    <li>Remote is loaded with the Router Singleton instance</li>
  </ul>
  <li>Modules App</li>
  <ul>
    <li>Loads Dependencies as Externals from the Window-Object</li>
    <li>Module Federation Remote</li>
    <li>No Polyfills are created</li>
    <li>Feature Module is processed w/o bootrapping of the App</li>
  </ul>
</ul>
